@import "~/src/scss/index.scss";


.title{
    position: fixed;
    top: 5rem;
    left: 43%;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    >article{
        margin: 5px;
        background-color: blue;
        
        &:hover{
            background-color: darkblue;
            cursor: pointer;

        }
    }
}

.card{
    background-color:$background-quaternary;
    margin: 0 10px;
    padding: 1rem;
    transition: transform 0.3s;
    &:hover{
        transform: translateY(-2rem);
        background-color:$background-quaternary__blur;
    }
    }