@import "~/src/scss/index.scss";

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: $background-primary;

ul {
    display: flex;
    margin-right: 2rem;
}
.navLink{
    color: $text-primary;
    margin: 0 1rem;
}
.navLink:hover {
    color: $text-secondary;
}
select{
    color: $text-secondary;
}
}