.nav {
    background: rgba(11, 173, 173, 0.205);
    padding: 0 2rem;
    width: 100%;
    position: absolute;
    top: 0;
}

.navList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    display: inline-block;
    margin-right: 3.5rem;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navLink:hover {
    text-decoration: underline;
}

.select{
    margin-right: 2rem;
}